<div id="share-buttons">
    <!-- Buffer -->
    <a href="https://bufferapp.com/add?url=https://thefintank.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/buffer.png" alt="Buffer" />
    </a>
    <!-- Digg -->
    <a href="http://www.digg.com/submit?url=https://thefintank.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" />
    </a>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://thefintank.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://thefintank.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://thefintank.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
    <!-- Reddit -->
    <a href="http://reddit.com/submit?url=https://thefintank.com&amp;title=The FinTank 2015" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>
    <!-- StumbleUpon-->
    <a href="http://www.stumbleupon.com/submit?url=https://thefintank.com&amp;title=The%20FinTank%202015" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" />
    </a>
    <!-- Twitter -->
    <a href="http://www.tumblr.com/share/link?url=https://thefintank.com&amp;name=TheFinTank&hashtags=TheFinTank,miamitech, tech, hackathon" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
    </a>
</div>