<div id="hackathon-call-to-action" >
	<div class="shatter-background"> 
		<h3 class="align-left">Make an Impact @<br /> <span>TheFinTank 2015</span></h3>
		<div class="container">
			<div class="call-to-action-text align-right">
				Get Your <span>FREE Ticket </span> While They Last! 
			</div>
			<a class="button-clear" href="http://www.eventbrite.com/e/the-fintank-2015-hack-a-thon-2-day-bootcamps-tickets-17389965856?ref=ebtnebregn" target="_blank">Register Now &raquo;</a>
		</div>
	</div>
</div>