<div id="hackathon-description-wrapper">
<h2>What is a Hackathon? </h2>
<div class="container">
<div class="inset">
<p>An event in which awesome people collaborate intensively on Web/Mobile App projects. Hackathons typically last between a day and a week. Some are simply educational or social, though in many cases the goal is to create usable software. </p>
<p>Hackathons have a specific focus, which can include the programming language used, the operating system, an application, an API, or the subject and the demographic group of the programmers.</p>
</div>
</div> 
</div>