<div id="hackathon-promo"> 

	<h2>2nd Annual <span class="logo-text">The FinTank</span> <span class="hackathon-offset">Hackathon </span></h2/>

	<div class="row">
		<div class="col-md-12 move-up" >
			<h4>In 2014: </h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<i class="fa fa-users"></i>
			<h5>Contestants</h5>
			<p> 80 Contestants of ALL Skill levels came together to engage in a 2 day coding event. </p>
		</div>
		<div class="col-md-6">
			<i class="fa fa-mobile"></i>
			<h5>Apps</h5>
			<p> At the end of 24 hours of hacking together on projects, TheFinTank launched at least 6 apps.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<i class="fa fa-bullhorn"></i>
			<h5>Pitches</h5>
			<p>9 Teams got on stage to pitch their ideas, and demos to the Miami Dolphins, Citrix, and Microsoft. </p> 
		</div>
		<div class="col-md-6">
			<i class="fa fa-pied-piper"></i>
			<h5>Teams</h5>
			<p> 11 Teams started, and by the end of the weekend there were 9 left. </p>
		</div>
	</div> 
	 <br/> 

	<div class="container text-center">
		<a class="button-clear" href="http://www.eventbrite.com/e/the-fintank-2015-hack-a-thon-2-day-bootcamps-tickets-17389965856?ref=ebtnebregn" target="_blank">Register Now &raquo;</a>
	</div>
</div>