<div id="event-details-jumbotron"> 
	<div class="jumbotron responsive">
		<div class="overlay">  
			<div class="miami-white">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<a href="https://www.twitter.com/hackthestadium" class="btn-icon"><span class="fa fa-twitter fa-2x"></span></a>
						<a href="#" class="btn-icon"><span class="fa fa-facebook fa-2x"></span></a>
						<a href="#" class="btn-icon"><span class="fa fa-google-plus fa-2x"></span></a>
						<a href="#" class="btn-icon"><span class="fa fa-instagram fa-2x"></span></a>
					</div>
					<div class="col-md-4"></div>
				</div> 
				<div class="row">
					<div class="col-md-3"><hr/></div>
					<div class="col-md-3">
						<span class="miami-white date">
							<span class="fa fa-calendar fa-1x"></span> Sept 18-19-20, 2015
						</span>
					</div>
					<div class="col-md-3">
						<span class="miami-white place">
							<span class="fa fa-map-marker fa-1x"></span>Marlins Park - Miami, FL
						</span>
					</div>
					<div class="col-md-3"><hr/></div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
					<div class="col-md-4"></div>
				</div> 
				<h1 style="font-weight:bold">The FinTank 2015</h1>
				<h3>Miami's Only Stadium <span style="font-weight: bold">Hackathon</span> &amp; 2 Day Bootcamps</h3>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4"><a id="register-link" class="button-clear" href="http://www.eventbrite.com/e/the-fintank-2015-hack-a-thon-2-day-bootcamps-tickets-17389965856?ref=ebtnebregn" target="_blank">Register Now</a>
					<a id="register-link" class="button-secondary" href="#" target="_blank">Learn More</a></div>
					<div class="col-md-4"></div>
			</div>
		</div>
	</div>
</div>