<div id="sponsor-this-event" class="sponsor-this-event-wrapper">
	<div class="orange-background-opaque"> 
		<h2 > 
			Make An Impact! <br/> Sponsor<br/> <span> The FinTank 2015</span>
		</h2>
		<p>Become a fixture of the #MiamiTech Community!</p>
		<br/>
		<div class="container">
			<div class="row">
				<div class="col-md-4"> </div>
				<div class="col-md-4"> 
					<a href="#" class="button-clear"> Sponsor Now &raquo; </a>
					<a href="#" class="button-primary"> Learn More &raquo; </a>	
				</div>
				<div class="col-md-4"> </div>
			</div>
		</div>
	</div>
</div>